footer{
     & .footer-container{
          border-top: #EEEEEE solid 1px;
          text-align: center;
          padding: 40px;
          &_image{
               width: 15%;
               object-fit: cover;
               display: block;
               margin: 0 auto;
          }
          &_link{
               display: inline-block;
               text-align: center;
               margin: 30px 0;
               background-image: url(../img/iconmonstr-external-link-thin-240.png);
               background-position: right 20px center;
               background-size: 12.5px 12.5px;
               background-repeat: no-repeat;
               padding-right: 36px;
          }
          &_sns{
               text-align: center;
               & img{
                    width: 50px;
                    height: 50px;
                    padding: 16px;
               }
          }
     }
     & .footer-copyright{
          text-align: center;
          padding: 40px;
          border-top: #EEEEEE solid 1px;
     }
}