header{
     padding: 36px;
     .header-items{
          display: flex;
          justify-content: space-between;
          align-items: center;
          &_navigation{
               display: flex;
               align-items: center;
               gap: 40px;
               & img{
                    width: 25px;
                    height: 25px;
                    object-fit: cover;
               }
          }
     }
}