header{
     position: fixed;
     top: 0;
     left: 0;
     width: 95%;
     padding: 36px;
     z-index: 2;
     background-color: #fff;
     .header-items{
          display: flex;
          justify-content: space-between;
          align-items: center;
          &_navigation{
               display: flex;
               align-items: center;
               gap: 40px;
               & img{
                    width: 25px;
                    height: 25px;
                    object-fit: cover;
               }
          }
     }
}